@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  text-align: center;
}

#container {
  max-width: 980px;
  margin: 0 auto;
}

#hero {
  height: 100vh;
  position: relative;
}

#hero-text {
  vertical-align: middle;
  line-height: 100vh;
  font-size: 55px;
  margin: 0;
}

#chevron {
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
}

.slack-logo {
  color: #3EB890;
}

.plus {
  color: #70CADB;
}

.newspaper-logo {
  color: #E8A723;
}

.equal {
  color: #E01765;
}

.snews {
  color: #fff;
}

#about {
  height: 100vh;
  position: relative;
}

#about-text {
  padding-top: 15%;
  margin-bottom: 40px;
}
#about-text p {
  font-size: 25px;
}

#about-header {
  margin: 0;
  font-size: 45px;
}

#about-blurb {
  margin: 50px 0 0;
}


footer {
  margin-top: 20px;
  padding: 10px;
}

footer p {
  margin: 0;
}

footer ul li a {
  text-decoration: none;
  color: whitesmoke;
}

footer ul li a:hover {
  color: #3EB890;
}

footer li {
  display: inline-block;
  padding-left: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

